{{- /* Formats an integer rank as 1st/2nd/3rd/...; non-numeric values pass through (e.g. T-1). */ -}}
{{- $raw := printf "%v" . -}}
{{- if findRE `^\d+$` $raw -}}
  {{- $n := int $raw -}}
  {{- $mod100 := mod $n 100 -}}
  {{- $mod10 := mod $n 10 -}}
  {{- if or (eq $mod100 11) (eq $mod100 12) (eq $mod100 13) -}}
    {{- printf "%dth" $n -}}
  {{- else if eq $mod10 1 -}}
    {{- printf "%dst" $n -}}
  {{- else if eq $mod10 2 -}}
    {{- printf "%dnd" $n -}}
  {{- else if eq $mod10 3 -}}
    {{- printf "%drd" $n -}}
  {{- else -}}
    {{- printf "%dth" $n -}}
  {{- end -}}
{{- else -}}
  {{- $raw -}}
{{- end -}}
